
/* in browser window toolbar */

toolbar #meihuacc-tbb {
    list-style-image: url("chrome://meihuacc/skin/icon24.png");
}

toolbar[iconsize="small"] #meihuacc-tbb {
    list-style-image: url("chrome://meihuacc/skin/icon16.png") !important;
}

toolbar #meihuacc-tbb[disabled="yes"] {
    filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
}

/* in customization panel */

#meihuacc-tbb:not([type="menu-button"]) {
    list-style-image: url("chrome://meihuacc/skin/icon24.png") !important;
}

/* in browser window toolbar palette (Australis theme since Firefox 29) */

#meihuacc-tbb[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #meihuacc-tbb {
    list-style-image: url("chrome://meihuacc/skin/icon32.png");
}

#meihuacc-tbb[cui-areatype="menu-panel"][disabled="yes"] {
    filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
}