#meihuaccOptions {
  height: auto !important;
  width: auto !important;
  max-width: 1024px;
  min-width: 600px;
  max-height: 768px;
  min-height: 500px;
}

tree {
  min-height: 300px;
  min-width: 200px;
}

.label {
  padding: 4px 0px 0px 0px; width: 80px;
}

.checkbox {
  padding: 3px 0px 0px 0px;
}

.visibility_hidden {
  visibility:hidden;
}